header h1{
    text-align: center;
}

#informacion_archivo{
    background-color: aliceblue;
}
#informacion_convertido{
    background-color: palevioletred;
}
.variable{
    color: royalblue;
}
.help-block{
    color: darkred;
}
#information_boxes{
    padding: 20px;
}
#botonera{
    padding: 10px;
}